@import "~/assets/scss/variables.scss";

.root {
	background-color: #ebf3f5;
	padding: 190px 0;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 120px;
}

.container {
	width: 100%;
	background-color: #1e2c30;
	padding: 73px;
	color: #ffff;
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-end;
	display: flex;
	p {
		color: #ffff;
		margin-top: 14px;
	}
}

.body {
	max-width: 508px;
}
.photo {
	position: absolute;
	top: 14%;
	left: 12%;
}
