@import "~/assets/scss/variables.scss";

.item {
	display: flex;
	width: 100%;
	max-width: 620px;
	padding-top: 36px;
	margin-bottom: 36px;
	align-items: flex-start;
	justify-content: space-between;
	border-top: 1px solid #d3d3d3;
	&:first-child {
		padding-top: 0;
		border-top: none;
	}
}

.body {
	max-width: 458px;
	width: 100%;
	p {
		margin-top: 8px;
	}
}

.photo {
	width: 100px;
	height: 100px;
	background: #f2fcff;
	border: 1px solid #1e2c30;
	display: flex;
	align-items: center;
	justify-content: center;
}
